.bgimg {
	background-image: url('https://img.freepik.com/free-photo/top-view-indian-food-assortment_23-2148747714.jpg?w=900&t=st=1672326132~exp=1672326732~hmac=bc13920d1f2c2d0adba21ac7c11024546287dada860b6a7e4658338405a865c7');
	background-size: cover;
	height: 100vh;
}
.layoutcard {
	background-color: skyblue;
	height: 200px;
	border-top-left-radius: 20px;
	border-top-right-radius: 20px;
	padding: 20px;
}